<body>
    <article class="post">
    <header class="post-header">
        <div class="post-author-info">
            <h4 class="post-author-name">John Done</h4>
            <span class="post-author-username">@RealJohnDone</span>
        </div>
    </header>

    <div class="post-body">
        
        <p>Este es el contenido de la publicación de John. Aquí va el texto principal del post para que puedas ver el
            diseño correctamente.</p>
    </div>

    <footer class="post-footer">
        <div class="post-stats">
            <button class="stat-btn" id="comments">
                <i class="fa-regular fa-comment"></i>
                <span class="comments">0 Comentarios</span>
            </button>
        </div>
        <div class="post-actions">
            <button class="btn borrar">Borrar</button>
            <button class="btn ver">Ver</button>
        </div>
    </footer>
    </article>
</body>