/* Estilo principal */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #f6f9f9;
}

/* Contenedor principal */
.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* parte izquierda */
.left-section {
    flex: 1;
    background-color: #96bcb8; /* verde azulado */
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section img {
    width: 80%;
    max-width: 500px;
}

/* parte derecha */
.right-section {
    flex: 1;
    background-color: #f7fafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
}

.right-section h1 {
    font-size: 2.5rem;
    color: #2c2c3a;
    margin-bottom: 10px;
}

.right-section p {
    color: #5c5c5c;
    margin-bottom: 40px;
}

.right-section a {
    font-weight: 600;
    color: #2c2c3a;
    text-decoration: underline;
}

/* Formulario */
.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 5px;
}

.login-form input {
    background-color: #dfe8e8;
    border: none;
    border-radius: 15px;
    padding: 14px;
    margin-bottom: 20px;
    font-size: 1rem;
    outline: none;
}

.login-form button {
    background-color: #2c2c3a;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.login-form button:hover {
    background-color: #3b3b4d;
}
